<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" id="action-background">
        <h1 style="text-align: center; padding: 4vh">Welcome!</h1>
        <form action="" routerLink="/survey">
          <button type="submit" class="btn btn-primary submitbutton">Find a dog</button>
        </form> 
        <form action="" routerLink="/register">
          <button type="submit" class="btn btn-primary submitbutton">Register a dog</button>
        </form>    
        <form action="" routerLink="/browse">
          <button type="submit" class="btn btn-primary submitbutton">Browse dogs</button>
        </form>      
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</body>