.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.stretchimg {
    width: 100vw;
}

.pic1{
    width: 100vh;

}

.heightcontrol{
    max-height: 50px;
}

#ourCarousel{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}