#requestForm{
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    text-align: center;
    font-size: 140%;
}

.left-text{
    text-align: left !important;
    width: 100%;
}

.right-text{
    text-align: left !important;
    justify-content: right !important;
}

body{
    background-color: #fefce6;
    padding-top: 20px;
    padding-bottom: 10px;
    //font-size: 0.70em;
}

.submitbutton{
    padding-top: -15px;
    font-size: 160%;
    background-color: #eef7f4;
    color: #424242;
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 6%;
    margin-bottom: 4%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    border: 4px #303030;
    /* margin: 20px; */
    outline: none !important;
    box-shadow: none !important;
}

.submitbutton:hover{ 
    color: #424242;
    /* background-color: #ebf8f9; */
    background-color: #d4f7ec;
}

#image-input{
    /* text-align: center; */
    padding-left: 15% !important;
}