<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
<body>
<form id='requestForm' (change)="formchange($event)">
  <div class="container-fluid">
    <form id="requestForm" (change)="formchange($event)">
      <div class="form-group row">
        <label for="dogNameReg" class="left-text col-sm-3">Dog name:</label><br>
        <input [(ngModel)]="name" type="text" name="dogName" style="width: 100%" class="right-text col-sm-9" placeholder="Name"><br>
      </div>
      <div class="form-group row">
        <label for="breedReg" class="col-sm-3" style="text-align: left">Dog breed:</label><br>
        <input [(ngModel)]="breed" type="text" name="breed" style="width: 100%" class="col-sm-9" placeholder="Breed"><br>
      </div>
      <div class="form-group">
        <label for="summaryReg" class="row" style="padding-left: 15px">Add a quick summary about your dog: </label>
        <textarea [(ngModel)]="summary" name="summary" rows="10" cols="30" style="width: 100%" placeholder="Enter text here"></textarea>
      </div>

      <div class="form-group">
        <label for="photoReg">Add a photo of your dog: </label><br>
        <input type="file" name="photo" accept="image/*" id="image-input"> <br>
      </div>

      <div class="form-group row">
        <label for="orgNameReg" class="col-sm-5 left-text">Name of your rescue organization: </label><br>
        <input [(ngModel)]="organization" type="text" name="orgName" style="width: 100%" class="col-sm-7 right-text" placeholder="Organization Name"><br>
      </div>

      <div class="form-group row">
        <label for="emailReg" class="col-sm-3" style="text-align: left">Email address:</label>
        <input [(ngModel)]="email" type="text" name="email" placeholder="name@example.com" style="width: 100%" class="col-sm-9"><br>
      </div>
      <div class="form-group">
        <label for="environmentReg">This dog should be raised in a:</label>
        <select [(ngModel)]="environment" name="environmentReg" class="form-control" id="environmentSelect" >
          <option selected>...</option>
          <option value="House">House</option>
          <option value="Apartment">Apartment</option>
          <option value="CountrySide">Countryside</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sizeReg">This dog is:</label>
        <select [(ngModel)]="size" name="sizeReg" class="form-control" id="sizeSelect" >
          <option selected>...</option>
          <option value = "Small">Small</option>
          <option value = "Medium">Medium</option>
          <option value = "Large">Large</option>
        </select>
      </div>

      <div class="form-group">
        <label for="energyReg">This dog's energy level is:</label>
        <select [(ngModel)]="energy" name="energyReg" class="form-control" id="energySelect" >
          <option value="NULL" selected>...</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>  
      
      <div class="form-group">
        <label for="otherPetsReg">This dog is able to live with other pets:</label>
        <select [(ngModel)]="pets" name="otherPetsReg" class="form-control" id="otherPetsSelect" >
          <option value="NULL" selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>  
      
      <div class="form-group">
        <label for="timeReg">This dog is able to be alone:</label>
        <select [(ngModel)]="alone" name="timeReg" class="form-control" id="timeReg" >
          <option value="NULL" selected>...</option>
          <option value="little">Very little</option>
          <option value="hours">A couple hours every day</option>
          <option value="most">Most of every day</option>
          <option value="days">Multiple days at a time</option>
        </select>
      </div>

      <div class="form-group">
        <label for="specialReg">Does this dog have special needs?</label>
        <select [(ngModel)]="needs" name="specialReg" class="form-control" id="specialReg" >
          <option value="NULL" selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hypoReg">Is this dog hypoallergenic?</label>
        <select [(ngModel)]="allergies" name="hypoReg" class="form-control" id="hypoReg">
          <option value="NULL" selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <button (click)="submitDog()" class="btn btn-primary submitbutton">Register my dog!</button>
    </form>
  </div>
  
</form>
</body>
