<!-- Container (Services Section) -->
<!-- Will be converted to be our beautiful faces (if you'd like, not necessary) -->
<body>
  <div id="services" class="container-fluid text-center">
    <h2>ABOUT US</h2>
    <h4>CISC474 Group 6</h4>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-4">
        <img src="https://media.licdn.com/dms/image/C4D03AQHo8bTCOTSTdw/profile-displayphoto-shrink_800_800/0?e=1545868800&v=beta&t=t4EiOCqiMSLXorQ1NMjvSkFfkR0zZ-iuWoYFS_N7XUg"
          alt="Natalie Ayling" class="avatarimg">
        <h4>NATALIE AYLING</h4>
        nayling@udel.edu<br>
        Computer Science Major<br>
        Concentration in Internet Applications<br>
        Minor in Writing
      </div>
      <div class="col-sm-4">
        <img src="https://i.groupme.com/540x540.jpeg.556d96588b544b8b8bea3f6c2e9d021c.large"
          alt="Peter Bohdjelian" class="avatarimg">
        <h4>PETER BOHDJELIAN</h4>
        pboh@udel.edu<br>
        Computer Science Major<br>
        Minor and Concentration in MIS
      </div>
      <div class="col-sm-4">
        <img src="https://media.licdn.com/dms/image/C5603AQEDxg-HKGGQWg/profile-displayphoto-shrink_200_200/0?e=1545868800&v=beta&t=-DJXH7NvvFbSO51E7-99PNNR-Bd5zckCH-ldO7z-8-Y"
          alt="Rachel Butler" class="avatarimg">
        <h4>RACHEL BUTLER</h4>
        rbutler@udel.edu<br>
        Computer Science Major<br>
        Concentration in Software Engineering<br>
        Minor in Cognitive Science
      </div>
    </div>
    <br><br>
    <div class="row slideanim">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <img src="https://media.licdn.com/dms/image/C4D03AQEoaDpl3u8SzA/profile-displayphoto-shrink_800_800/0?e=1545868800&v=beta&t=js8PTbQDWb6hbGdjqk4OTetpsVQol6HefY-zZFMSDwc"
          alt="Scott Miller" class="avatarimg">
        <h4>SCOTT MILLER</h4>
        scot@udel.edu<br>
        Computer Science Major<br>
        Concentration in Artificial Intelligence
      </div>
      <div class="col-sm-4">
        <img src="https://media.licdn.com/dms/image/C5603AQH5NyS5pFVnqg/profile-displayphoto-shrink_800_800/0?e=1545868800&v=beta&t=94J2C4VQXSMoWX0Fu26KG-fDWXXOXQXLt_BDHkp-b68"
          alt="Jennifer Urban" class="avatarimg">
        <h4>JENNIFER URBAN</h4>
        jenurban@udel.edu<br>
        Computer Science Major<br>
        Concentration in MIS<br>
        Minor in History, MIS, and Women's Studies
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</body>