body{
    background-color: #fefce6;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dogimg{
    border-radius: 50%;
    width: 200px;
    max-height: 200px;
    /* max-height: 200px; */
    object-fit: cover;
    /* padding-bottom: 0px; */
}

.card-border{
    background-color: #edeae5;
    border-width: 25px !important;
    border-color: #9fedd7 !important;
    border-radius: 10px;
    padding-bottom: 0px;
}

span{
    font-size:15px;
}

a{
    text-decoration:none; 
    color: #026670;
    border-bottom:2px solid #026670;
}

a:hover{
    color: #232323;
    border-bottom: 2px solid #232323;
}

.box{
    padding:60px 0px;
}

.box-part{
    //background:#FFF;
    //border-radius:0;
    padding:10px 10px;
    margin:10px 15px;
}

.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
