<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
-->  
<body>
  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card-border">    
          <div class="box-part text-center">
            <img class="dogimg" src="https://i.groupme.com/906x1207.jpeg.2ffb71f2feab4c60bf43cc925981072a.large" alt="Coco!!">
            <div class="title">
              <h4>Coco Butler</h4>
            </div>
            <div class="text">
              <div>
                <span><b>Breed:</b> Mutt (probably Long Haired Retriever and Border Collie)<br>
                  <b>Summary:</b> Lazy piece of shit, but the most lovable dog to live on this earth</span>
              </div>
            </div>
            <a href="#cocotest" data-toggle="collapse">Learn More</a>
            <div class="collapse" id="cocotest">
              <span>
                <b>Size:</b> medium<br>
                <b>Special Needs:</b> none<br>
                <b>Hypoallergenic?:</b> no<br>
                <b>Age:</b> 12 years
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</body>