<body style="background-color: #f5f3f0;">
  <app-carousel class="border-bottom our-carousel"></app-carousel>
  <div id="whatwedo" class="border-bottom">
    <app-whatwedo></app-whatwedo>
  </div>
  <div id="quizcomponent" class="border-bottom">
    <form action="" routerLink="/login">
      <button type="submit" class="btn btn-primary submitbutton">Login or register to find a dog!</button>
    </form>
  </div>
  <div id="aboutus" class="border-bottom">
    <app-aboutus></app-aboutus>
  </div>
  <app-navigationbar class="border-bottom"></app-navigationbar>
</body>