.submitbutton{
    background-color: #eef7f4;
    color: #424242;
    text-align: center;
    margin: auto;
    width: 80vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    font-size: 200%;
    border: 5px #424242;
    margin: 20px;
}

.submitbutton:hover{ 
    color: #424242;
    background-color: #d4f7ec;
}

#whatwedo{
    padding-top: 55px;
    background-color: #edeae5;

}

#quizcomponent{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 100px;
    background-color: #fefce6;
}

#quizcomponent2{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 100px;
    background-color: #fefce6;
}

#aboutus{
    color: #303030;
    padding-top: 50px;
    background-color: #edeae5;
}

/* This is the CSS stuff for the link that I used for About Us and What We Do.
    May need to be changed or edited depending on what we actually do */
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: #edeae5;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}  

.our-carousel{
    margin-top: 150px;
}