<!-- Container (About Section) -->
<body>
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h1>What We Do</h1><br><br>
        <p><font size="+1.75">Our quiz allows you to find the dog from our database who would be the best fit for you based on a number of factors including the environment the dog will live in (apartment, house, countryside), the dog's size, and whether you already own other pets among other factors.</font></p>
      </div>
      <div class="col-sm-4">
        <img id="puppy" src="https://i.groupme.com/643x262.png.3e49981b61dd4c3488e7a3078c25d422.large"
          alt="Puppies">
      </div>
    </div>
  </div>
</body>