::ng-deep body{
    background-color: #fefce6;
    padding-top: 20px;
    padding-bottom: 10px;
}

::ng-deep app-card{
    width: 100%;
    margin: 5px;
}

::ng-deep .dog-card{
    background-color: #edeae5;
    border-width: 25px !important;
    border-color: #9fedd7 !important;
    border-radius: 10px;
    padding-bottom: 0px;
}

::ng-deep .dogimg{
    border-radius: 50%;
    width: 200px;
    max-height: 200px;
    /* max-height: 200px; */
    object-fit: cover;
    /* padding-bottom: 0px; */
}

::ng-deep span{
    font-size:15px;
}

::ng-deep a{
    text-decoration:none; 
    color: #026670;
    border-bottom:2px solid #026670;
}

::ng-deep a:hover{
    color: #232323;
    border-bottom: 2px solid #232323;
}

::ng-deep .box{
    padding:60px 0px;
}

::ng-deep .box-part{
    //background:#FFF;
    //border-radius:0;
    padding:10px 10px;
    margin:10px 15px;
}

::ng-deep .text{
    margin:20px 0px;
}