<body>
  <div class="box">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id = "div1">   
            {{text}}
          <!-- <app-card style="width: 95%" id = "ac1"></app-card> -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id = "div2">    
          {{text}}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">      
          {{text}}
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
          <app-card style="width: 95%" id = "ac4"></app-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
          <app-card style="width: 95%" id = "ac5"></app-card>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">      
          <app-card style="width: 95%" id = "ac6"></app-card>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
          <app-card style="width: 95%" id = "ac7"></app-card>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">    
          <app-card style="width: 95%" id = "ac8"></app-card>
          </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">      
          <app-card style="width: 95%"></app-card>
        </div>
      </div>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="browse#">1</a></li>
      <li class="page-item"><a class="page-link" href="browse#">2</a></li>
      <li class="page-item"><a class="page-link" href="browse#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</body>