<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="">
    <font color="#EEEEEE">Doggy Discoverer</font>
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login or register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="survey">Find a dog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register a dog</a>
      </li>
    </ul>
  </div>
</nav>