
<body>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <div id="question-width">
    <form id='requestForm'  (change)="formchange($event)">
      <div class="form-group">
        <label for="environmentSelect">I will raise my dog at</label>
        <select [(ngModel)]="envir" class="form-control" id="environmentSelect" >
          <option selected>...</option>
          <option value="house">House</option>
          <option value="apartment">Apartment</option>
          <option value="countryside">Countryside</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="sizeSelect">I want a dog that is</label>
        <select [(ngModel)]="size" class="form-control" id="sizeSelect" >
          <option selected>...</option>
          <option value = "small">Small</option>
          <option value = "medium">Medium</option>
          <option value = "large">Large</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="energySelect">My dog's energy level should be</label>
        <select [(ngModel)]="energy" class="form-control" id="energySelect" >
          <option selected>...</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="timeSelect">My dog will be alone</label>
        <select [(ngModel)]="timeAlone" class="form-control" id="timeSelect" >
          <option selected>...</option>
          <option value="little">Very little</option>
          <option value="hours">A couple hours every day</option>
          <option value="most">Most of every day</option>
          <option value="days">Multiple days at a time</option>
        </select>
      </div>

      <div class="form-group">
        <label for="otherSelect">Do you own other pets?</label>
        <select [(ngModel)]="otherPets" class="form-control" id="otherSelect" >
          <option selected>...</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>  
         
      <div class="form-group">
        <label for="hypoSelect">Does your dog need to be hypoallergenic?</label>
        <select [(ngModel)]="hypoAll" class="form-control" id="hypoSelect">
          <option selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="specialSelect">Are you open to a dog with special needs?</label>
        <select [(ngModel)]="spNeeds" class="form-control" id="specialSelect" >
          <option selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>  
      
      <button ng-click="submitSurvey()" class="btn btn-primary submitbutton">Find me a dog!</button>
    </form><!-- not sure what action to take with button, can change or move to other form -->
  </div>
</body>