
<body>
  <div id="question-width">
    <form id='requestForm'>
      <div class="form-group">
        <label for="ageSelect">I am looking for a:</label>
        <select [(ngModel)]="age" class="form-control" id="ageSelect" name="ageSelect" (change) = "ageVal($event)">
          <option value="NULL" selected>...</option>
          <option value="puppy">Puppy</option>
          <option value="adult">Adult</option>
          <option value="senior">Senior</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="environmentSelect">I will raise my dog at:</label>
        <select [(ngModel)]="envir" class="form-control" id="environmentSelect" name="environmentSelect" (change) = "environment($event)">
          <option value="NULL" selected>...</option>
          <option value="house">House</option>
          <option value="apartment">Apartment</option>
          <option value="countryside">Countryside</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="sizeSelect">I want a dog that is:</label>
        <select [(ngModel)]="size" class="form-control" id="sizeSelect" name="sizeSelect" (change) = "sizeDeter($event)">
          <option value="NULL" selected>...</option>
          <option value = "small">Small</option>
          <option value = "medium">Medium</option>
          <option value = "large">Large</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="energySelect">My dog's energy level should be:</label>
        <select [(ngModel)]="energy" class="form-control" id="energySelect" name="energySelect" (change) = "energyDeter($event)">
          <option value="NULL" selected="selected">...</option>
          <option value="high">High</option>
          <option value="medium">Medium</option>
          <option value="low">Low</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="timeSelect">My dog will be alone:</label>
        <select [(ngModel)]="timeAlone" class="form-control" id="timeSelect" name="timeSelect" (change) = "alone($event)">
          <option value="NULL" selected>...</option>
          <option value="short">Very little</option>
          <option value="medium">Most of every day</option>
          <option value="long">Multiple days at a time</option>
        </select>
      </div>

      <div class="form-group">
        <label for="otherSelect">Do you own other pets?</label>
        <select [(ngModel)]="otherPets" class="form-control" id="otherSelect" name="otherSelect"(change) = "pets($event)" >
          <option value="NULL" selected>...</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>  
         
      <div class="form-group">
        <label for="hypoSelect">Does your dog need to be hypoallergenic?</label>
        <select [(ngModel)]="hypoAll" class="form-control" id="hypoSelect" name="hypoSelect" (change) = "hypoAller($change)">
          <option value="NULL" selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>

      <div class="form-group">
        <label for="specialSelect">Are you open to a dog with special needs?</label>
        <select [(ngModel)]="spNeeds" class="form-control" id="specialSelect" name="specialSelect" (change) = "specNeed($change)">
          <option value="NULL" selected>...</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>  
      
      <button (click)="submitSurvey()" class="btn btn-primary submitbutton">Find me a dog!</button>
    </form><!-- not sure what action to take with button, can change or move to other form -->
  </div>
</body>